@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
);

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4vw;
    height: 100vh;
    padding: 0.2vw;
    color: rgb(152, 151, 151);
    overflow: hidden;
    transition: 0.5s;
    background: rgb(255, 255, 255);
}



.logo {
    height: 5vw;
    padding: 0.8vw;
    position: relative;
}

.logo a {
    text-decoration: none;
    color: blue;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.logo a span {
    overflow: hidden;
}
.logo a i {
    font-size: 1.5vw;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1.1vw;
    margin: 0;
    border-radius: 8px;
    transition:  0.5s;
}

.menu li.dropdown:hover,
.menu li.active {
    background: blue;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1vw;
}

.menu li.dropdown:hover a span {
    color: #ffffff;
}

.menu li.dropdown:hover a i {
    color: #ffffff;
}

.menu li.active a span,
.menu li.active a i {
    color: #fff;
}


.arrow {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
    margin-left: 4vw;
}

.sub-menu {
    display: none;
    padding-left: 2.5vw;
    background-color: #fff;
    border-radius: 8px;
}
.sub-menu a {
    font-size: 0.7vw;
}

.sub-menu a:hover {
    color: blue;
}

.dropdown:hover .sub-menu {
    display: block;
}

.dropdown:hover>a .arrow {
    transform: rotate(0deg);
}

.sidebar .main-text,
.sidebar .table-forms-text {
    display: none;
}

.sidebar:hover .main-text,
.sidebar:hover .table-forms-text {
    display: inline-block;
}

.sidebar:hover .main-text::before {
    content: " MAIN";
    margin-left: 0.5vw;
    font-size: 0.8vw;
}

.sidebar:hover .table-forms-text::before {
    content: "TABLE AND FORMS";
    margin-left: 0.5vw;
    font-size: 0.8vw;
}

/*======================================================*/
.main--content{
    position: relative;
    background-color: rgb(220, 220, 220) ;
    width: 100%;
}
.foto{
    position: absolute;
    top:1.7vw;
    left: 1.5vw;
    width: 1vw;
    height: 0.7vw;
    cursor: pointer;
    z-index: 1;
}
.sidebar-expanded {
    width: 22vw;
}

.btn label {
    position: absolute;
    top: 1.6vw;
    left: 1.5vw;
    width: 1vw;
    height: 0.7vw;
    cursor: pointer;
}

#click {
    display: none;
}
.perfil{
    position: absolute;
    right: 1vw;
    top: 0.9vw;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper{
    background: #ffffff;
    height: 4.3vw;
}
.header--title{
    position: relative;
    background: rgb(220, 220, 220);
    overflow: hidden;
}
.text0{
    position: relative;
    left: 1.6vw;
    font-size: 1vw;
}
.text01{
    position: relative;
    left: 1.8vw;
    font-size: 0.8vw;
}
.text1{
    color: blue;
}
.text2{
    color:  rgb(152, 151, 151);
}
.chart1{
    position: absolute;
    background-color: blue;
    top: 13vw;
    right: 1.8vw;
    width: 22vw;
    height: 11vw;
}
.chart2{
    position: absolute;
    background-color: rgb(0, 255, 85);
    top: 13vw;
    right: 25.3vw;;
    width: 22vw;
    height: 11vw;
}
.chart3{
    position: absolute;
    background-color: rgb(221, 106, 53);
    top: 13vw;
    right: 48.8vw;
    width: 22vw;
    height: 11vw;
}
.chart4{
    position: absolute;
    background-color: rgb(141, 33, 132);
    top: 13vw;
    right: 72.4vw;
    width: 22vw;
    height: 11vw;
}
.chart5{
    position: absolute;
    background-color: rgb(0, 128, 255);
    top: 25.4vw;
    right: 1.8vw;
    width: 92.5vw;
    height: 8vw;
}

.sidebar:hover ~ .main--content .chart1 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
}

.sidebar:hover ~ .main--content .chart2 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    right: 21.9vw;
}
.sidebar:hover ~ .main--content .chart3 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    right: 41.95vw;
}
.sidebar:hover ~ .main--content .chart4 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    right: 62vw;
}


.sidebar:hover ~ .main--content .chart5 {
    transform: scalex(0.85);
    transform-origin: right;
    transition: 0.49s;
}
.chart1 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart2 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart3 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart4 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart5 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.49s;
}
