@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
);

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    left: -20vw; 
    width: 4vw;
    height: 100vh;
    padding: 0.2vw;
    color: rgb(152, 151, 151);
    overflow: hidden;
    transition: 0.5s;
    background: rgb(255, 255, 255);
}

.logo {
    height: 5vw;
    padding: 0.8vw;
    position: relative;
}

.logo a {
    text-decoration: none;
    color: blue;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.logo a span {
    overflow: hidden;
}
.logo a i {
    font-size: 1.5vw;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1.1vw;
    margin: 0;
    border-radius: 8px;
    transition:  0.5s;
}

.menu li.active{
    margin-bottom: 2vw;
}
.menu li.px2{
    margin-bottom: 1.8vw;
}

.menu li.dropdown:hover,
.menu li.active {
    background: blue;
}
.menu li.px:hover,
.menu li.px2:hover{
    background-color: rgb(237, 237, 237) ;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1vw;
}

.menu li.dropdown:hover a span {
    color: #ffffff;
}

.menu li.dropdown:hover a i {
    color: #ffffff;
}

.menu li.active a span,
.menu li.active a i {
    color: #fff;
}


.arrow {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
    margin-left: 4vw;
}

.sub-menu {
    display: none;
    padding-left: 2.5vw;
    background-color: #fff;
    border-radius: 8px;
}
.sub-menu a {
    font-size: 0.7vw;
}

.sub-menu a:hover {
    color: blue;
}

.dropdown:hover .sub-menu {
    display: block;
}

.dropdown:hover>a .arrow {
    transform: rotate(0deg);
}

.sidebar .main-text,
.sidebar .table-forms-text {
    display: inline-block;
}

.sidebar .main-text::before,
.sidebar .table-forms-text::before {
    content: " -";
    margin-left: 0.5vw;
    font-size: 0.8vw;
    padding-left: 0.8vw; 
}

#click:checked ~  .sidebar .main-text::before {
    content: " MAIN";
    margin-left: 0.5vw;
    font-size: 0.8vw;
    padding-left: 0vw; 
}

#click:checked ~  .sidebar .table-forms-text::before {
    content: "TABLE AND FORMS";
    margin-left: 0.5vw;
    font-size: 0.8vw;
    padding-left: 0vw; 
}

/*======================================================*/
.main--content{
    position: relative;
    background-color: rgb(220, 220, 220) ;
    width: 100%;
    min-height: 100vh;
}
.foto{
    position: absolute;
    top:1.7vw;
    left: 1.5vw;
    width: 1vw;
    height: 0.7vw;
    cursor: pointer;
    z-index: 1;
}

.btn label {
    position: relative;
    cursor: pointer;
    color: black;
}
.btn label i{
    position: absolute;
    top: 1.5vw;
    left: 1.3vw;
    cursor: pointer;
    color: black;
    font-size: 1.3vw;
}
#click:checked ~ .sidebar  {
    width: 22vw;
    transition: 0.5s;
}

#click {
    display:none;
}
.perfil{
    position: absolute;
    right: 1vw;
    top: 0.9vw;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper{
    background: #ffffff;
    width: 100;
    height: 4.3vw;
}
.header--title{
    position: relative;
    background:rgb(220, 220, 220);
    overflow: hidden;
    height: 40vw;
}
.text0{
    position: absolute;
    left: 1.3vw;
    font-size: 1vw;
}
.text01{
    position: absolute;
    left: 1.4vw;
    top: 5vw;
    font-size: 0.8vw;
}
.text1{
    color: blue;
}
.text2{
    color:  rgb(152, 151, 151);
}
.chart1{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 9vw;
    left: 1.4vw;
    width: 22.2vw;
    height: 11vw;
    border-radius: 0.7vw;
    box-shadow: 2px 2px 8px 0 rgb(211, 211, 211), 4px 4px 16px 0 rgb(211, 211, 211), 0px 0px 24px 2px rgb(181, 181, 181);
}

.chart2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 9vw;
    left: 25.1vw;;
    width: 22.2vw;
    height: 11vw;
    border-radius: 0.7vw;
    box-shadow: 2px 2px 8px 0 rgb(211, 211, 211), 4px 4px 16px 0 rgb(211, 211, 211), 0px 0px 24px 2px rgb(181, 181, 181);
}
.chart3{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 9vw;
    left: 48.8vw;
    width: 22.2vw;
    height: 11vw;
    border-radius: 0.7vw;
    box-shadow: 2px 2px 8px 0 rgb(211, 211, 211), 4px 4px 16px 0 rgb(211, 211, 211), 0px 0px 24px 2px rgb(181, 181, 181);
}
.chart4{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 9vw;
    left: 72.5vw;
    width: 22.2vw;
    height: 11vw;
    border-radius: 0.7vw;
    box-shadow: 2px 2px 8px 0 rgb(211, 211, 211), 4px 4px 16px 0 rgb(211, 211, 211), 0px 0px 24px 2px rgb(181, 181, 181);
}
.chart5{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 21.5vw;
    left: 1.4vw;
    width: 93.3vw;
    height: 8vw;
    border-radius: 0.7vw;
    box-shadow: 2px 2px 8px 0 rgb(211, 211, 211), 4px 4px 16px 0 rgb(211, 211, 211), 0px 0px 24px 2px rgb(181, 181, 181);
}

.number{
    top: 1vw;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    left: 1.2vw;
}
.letter{
    position: absolute;
    left: 1.2vw;
    top: 3.8vw;
    font-size: 0.8vw;
}
.icon-green{
    position: absolute;
    font-size: 1.5vw;
    color: rgb(136, 206, 74);
    left: 20vw;
    top: 0.6vw;
}
.icon-red{
    position: absolute;
    font-size: 1.5vw;
    color: rgb(255, 0, 0);
    left: 20vw;
    top: 0.6vw;
}
.bar{
    position: absolute;
    background-color: rgb(176, 177, 177);
    left: 1.2vw;
    height: 0.6vw;
    width: 19.8vw;
    top: 7vw;
    border-radius: 8vw;
    overflow: hidden;
}
.porcent{
    width: 8vw;
    height: 100%;
    background-color: blue;
    border:blue;
}
.porcent1{
    width: 12vw;
    height: 100%;
    background-color: blue;
    border:blue;
}
.porcent2{
    width: 6vw;
    height: 100%;
    background-color: blue;
    border:blue;
}
.porcent3{
    width: 14.5vw;
    height: 100%;
    background-color: blue;
    border:blue;
}
.number-porcent{
    position: absolute;
    font-weight: bold;
    left: 1.2vw;
    top: 8vw;
    font-size: 0.8vw;
}

#click:checked ~  .sidebar ~ .main--content .chart1 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    left: -2.2vw;
}

#click:checked ~  .sidebar ~ .main--content .chart2 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    left:  17.97vw;
}
#click:checked ~  .sidebar ~ .main--content .chart3 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    left: 38.1vw;
}
#click:checked ~  .sidebar ~ .main--content .chart4 {
    transform: scalex(0.84);
    transform-origin: right;
    transition: 0.5s;
    left: 58.3vw;
}

#click:checked ~  .sidebar ~ .main--content .chart5 {
    transform: scalex(0.85);
    transform-origin: right;
    transition: 0.49s;
    left: -12.7vw;
}
.chart1 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart2 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart3 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart4 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.5s;
}

.chart5 {
    transform: scalex(1);
    transform-origin: right;
    transition: 0.49s;
}