@font-face {
    font-family: ligth;
    src: url(./amazon/Amazon\ Ember\ Light.ttf);
}

@font-face {
    font-family: Boldd;
    src: url(./amazon/Amazon\ Ember\ Bold.ttf);
}

@font-face {
    font-family: Pro;
    src: url(./myriad/Myriad\ Pro\ Italic.ttf);
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mesatrabajo {
    position: relative;
    max-width: 1920px;
    max-height: 4149px;
    margin: 0 auto;
    overflow: hidden;
}

.fondo2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.75;
}

.buscar {
    position: absolute;
    top: 2vw; 
    left: 3vw; 
    width: 2.5vw; 
    height: auto; 
    max-width: 36px; 
    max-height: 36px; 
    opacity: 1;
}

.log {
    position: absolute;
    top: 1.563vw;
    left: 88vw;
    width: 9vw; 
    height: 3vw;
    max-width: 205px;
    max-height: 54px;
    opacity: 1
}

.logtexto {
    font-family: ligth;
    position: absolute;
    font-size: 1.1vw;
    text-align: left;
    top: -0.4vw;
    left: 3vw;
    width: 15vw;
    height: 5;
    max-width: 50px;
    max-height: 50px;
    opacity: 0.80;
}

.prime {
    position: absolute;
    top: 11.5vw;
    left: 33vw;
    width: 36vw;
    height: auto;
    max-width: 556px;
    max-height: 313px;
    opacity: 1;
}

.your {
    font-family: Boldd;
    position: absolute;
    font-weight: bold;
    text-align: left;
    font-size: 3.1vw;
    color: #FFFFFF;
    top: 25vw;
    left: 20vw;
    width: 74vw;
    height: auto;
    max-width: 1151px;
    max-height: 60px;
    opacity: 1;
}

.now {
    font-family: ligth;
    position: absolute;
    font-size: 1.56vw;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    top: 32vw;
    left: 17vw;
    width: 65vw;
    height: auto;
    max-width: 1160px;
    max-height: 102px;
    opacity: 1
}

.sing {
    position: absolute;
    top: 42vw;
    left: 39vw;
    width: 20vw;
    height: 5vw;
    max-width: 458px;
    max-height: 104px;
    opacity: 1;
}

.singtexto {
    font-family: ligth;
    position: absolute;
    font-size: 1.9vw;
    text-align: left;
    color: #000000;
    top: -0.6vw;
    left: 2vw;
    width: 17vw;
    height: 5vw;
    max-width: 360px;
    max-height: 40px;
    opacity: 0.80;
}

.live {
    position: absolute;
    top: 55vw;
    left: 3vw;
    width: 94.4vw;
    height: 30vw;
    max-width: 1792px;
    max-height: 567px;
    opacity: 1;
}

.azul2 {
    position: absolute;
    top: 86vw;
    left: 3vw;
    width: 94.4vw;
    height: 38vw;
    max-width: 1792px;
    max-height: 724px;
    border-radius: 1vw;
    opacity: 1;
}

.imagen1 {
    position: absolute;
    top: 9vw;
    left: 21.7vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
    opacity: 1;
}

.imagen2 {
    position: absolute;
    top: 9vw;
    left: 32.3vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
    opacity: 1;
}

.imagen3 {
    position: absolute;
    top: 9vw;
    left: 43vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
    opacity: 1;
}

.imagen4 {
    position: absolute;
    top: 9vw;
    left: 53.7vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
    opacity: 1;
}

.imagen5 {
    position: absolute;
    top: 9vw;
    left: 64.4vw;
    width: 10vw;
    height: 16vw;
    max-width: 181px;
    max-height: 309px;
    border: 1px solid #707070;
    opacity: 1;
}

.dont {
    font-family: Boldd;
    position: absolute;
    font-size: 3.2vw;
    text-align: left;
    color: #FFFFFF;
    top: -1vw;
    left: 3.5vw;
    width: 90vw;
    height: 28vw;
    max-width: 1664px;
    max-height: 60px;
    opacity: 1;
}

.you {
    font-family: ligth;
    position: absolute;
    font-size: 2.6vw;
    text-align: center;
    color: #FFFFFF;
    top: 26vw;
    left: 11vw;
    width: 88w;
    height: 30vw;
    max-width: 1492px;
    max-height: 110px;
    opacity: 1;
}

.azul3 {
    position: absolute;
    top: 125vw;
    left: 3vw;
    width: 94.4vw;
    height: 30vw;
    max-width: 1792px;
    max-height: 567px;
    border-radius: 1vw;
    opacity: 1;
}

.equis {
    position: absolute;
    top: 10vw;
    left: 42vw;
    width: 10vw;
    height: 10vw;
    max-width: 169px;
    max-height: 169px;
    opacity: 1;
}

.cancel {
    font-family: Boldd;
    position: absolute;
    font-size: 3.2vw;
    text-align: left;
    color: #FFFFFF;
    top: 1vw;
    left: 26vw;
    width: 90vw;
    height: 28vw;
    max-width: 800px;
    max-height: 60px;
    opacity: 1;
}

.if {
    font-family: ligth;
    position: absolute;
    font-size: 2vw;
    text-align: center;
    color: #FFFFFF;
    top: 20vw;
    left: 15vw;
    max-width: 1382px;
    max-height: 88px;
    opacity: 1;
}

.com {
    font-family: ligth;
    position: absolute;
    font-size: 6vw;
    text-align: center;
    color: #FFFFFF;
    top: 152vw;
    left: 22vw;
    width: 58vw;
    height: 15vw;
    max-width: 1118px;
    max-height: 125px;
    opacity: 1;
}

.the {
    font-family: ligth;
    position: absolute;
    font-size: 2vw;
    text-align: center;
    color: #FFFFFF;
    top: 166vw;
    left: 8.5vw;
    width: 85vw;
    height: auto;
    max-width: 1544px;
    min-height: 99px;
    opacity: 1;
}

.mac {
    position: absolute;
    top: 176vw;
    left: 39vw;
    width: 25vw;
    height: 23vw;
    max-width: 584px;
    max-height: 534px;
    opacity: 1;
}

.iphone {
    position: absolute;
    top: 181vw;
    left: 20vw;
    width: 12.5vw;
    height: 10vw;
    max-width: 256px;
    max-height: 219px;
    opacity: 0.90;
}

.pc {
    position: absolute;
    top: 181vw;
    left: 70vw;
    width: 12.5vw;
    height: 10vw;
    max-width: 271px;
    max-height: 238px;
    opacity: 0.90;
}

.flecha1 {
    position: absolute;
    top: 184vw;
    left: 20vw;
    width: 2vw;
    height: 3vw;
    max-width: 19px;
    max-height: 27px;
    opacity: 1;
}

.flecha2 {
    position: absolute;
    top: 184vw;
    left: 82vw;
    width: 2vw;
    height: 3vw;
    max-width: 18px;
    max-height: 26px;
    transform: rotate(-179deg);
    opacity: 1;
}

.power {
    font-family: Pro;
    position: absolute;
    font-size: 1vw;
    text-align: left;
    color: #FFFFFF;
    top: 205vw;
    left: 45vw;
    width: 9vw;
    height: 2vw;
    max-width: 92px;
    max-height: 20px;
    opacity: 0.50;
}

.firma {
    position: absolute;
    top: 205vw;
    left: 45vw;
    width: 20vw;
    height: 12vw;
    max-width: 430px;
    max-height: 241px;
    opacity: 0.50;
}

.priv {
    position: absolute;
    top: 212vw;
    left: 32vw;
    width: 40vw;
    height: 4vw;
    max-width: 831px;
    max-height: 25px;
    opacity: 0.50;
}